<div id='chat-grid'>
	<div id='chat-menu'>
		<h2>Chat</h2>
		<h5>Me</h5>
		<p>{{ @model.currentUser.name }}</p>
		<h5>Users</h5>
		{{#each @model.users as |user|}}
			<li>{{ user.name }}</li>
		{{/each}}<br><br>
		<h5>Channels</h5>
		{{#each @model.channels as |channel|}}
			<LinkTo @route="chat.channel" @model={{channel.id}}>#{{ channel.name }}</LinkTo><br>
		{{/each}}<br>
	</div>

	{{outlet}}
</div>