<div id='chat-channel'>
	<h3><span>#{{ @model.channel.name }}</span></h3>
	<div style='flex-grow: 1; display:flex; flex-direction: column; justify-content: flex-end;'>
		<ul class='message-container'
			{{did-insert this.scrollMessageContainer}} 
			{{did-update this.scrollMessageContainer @model}}
		>
		{{#each @model.messages as |message| }}
			<Message @message={{message}} />
		{{/each}}
		

		</ul>
		<div>
			<textarea placeholder="Send a message" class='form-control' id='chat-input' value={{this.messageText}} {{did-insert this.setUpMessageInput}} oninput={{this.resizeMessageInput}} onkeyup={{this.updateMessageText}}>{{ this.messageText}}</textarea>
			<div class="text-right">
				<BsButton @type="primary" {{on "click" this.insertMessage}} id='chat-submit-btn'>Submit</BsButton> 
			</div>
		</div>
	</div>
	{{outlet}}
</div>